* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.App {
  display: flex;
  min-height: 100vh;
  padding: 2.4rem;
  flex-direction: column;
  gap: 2.4rem;
  background-color: #1f1f49;
}

.videoContainer {
  grid-area: video;
  position: relative;
  padding-bottom: calc(100% / (16 / 9));
  background-color: red;
  border-radius: 0.8rem;
}

.video {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.currentRoundWinners {
  grid-area: currentRoundWinners;
  display: flex;
  min-height: 27rem;
  flex-direction: column;
  gap: 1.6rem;
}

.winners {
  grid-area: winners;
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-content: start;
  flex-grow: 1;
  background-color: red;
  border-radius: 0.8rem;
}

.winner {
  margin: 0;
  padding: 1.6rem;
  font-size: 2.4rem;
}

.winner_currentRound {
  background-color: red;
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-areas:
      "video currentRoundWinners"
      "winners winners";
    grid-gap: 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .videoContainer {
    padding-bottom: 0;
  }
}
